#!/bin/bash

# essential, see README.md, it can break your system if done wrong
SD_DEV=/dev/mmcblk0
# you can keep default, just make sure it doesn't exist
MNT_PATH=/SDCARD
# your image path, dowload from https://www.raspberrypi.com/software/operating-systems/
IMG_PATH=/home/zostaw/downloads/2023-12-05-raspios-bookworm-arm64.img
# essential, see how to generate in README.md - single quotes!!!
PI_CREDENTIALS='mynewlogin:myhashedpassword'
# is image burned for Raspberry Pi Zero (takes 0/1)
IS_RASPBERRY_ZERO="0"
# raspberry hostname - ignore if you don't care
RASPBERRYPI_HOSTNAME="raspberrypi"
# WIFI connection, if not wifi model - ignore, DOES NOT WORK for Bookwarm and higher OS versions
WIFI_SSID="my_SSID"
WIFI_PASS="mypasword_1234"
